/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    combos { compatible = "zmk,combos"; };

    behaviors {
        togmo: togmo {
            compatible = "zmk,behavior-hold-tap";
            label = "TOGMO";
            bindings = <&mo>, <&tog>;

            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
        };

        mod_layers_r: mod_layers_r {
            compatible = "zmk,behavior-mod-morph";
            label = "MOD_LAYERS_R";
            bindings = <&togmo 3 3>, <&togmo 0 0>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        http: http {
            compatible = "zmk,behavior-hold-tap";
            label = "HTTP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <180>;
            flavor = "tap-preferred";
        };

        http_slow: http_slow {
            compatible = "zmk,behavior-hold-tap";
            label = "HTTP_SLOW";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "hold-preferred";
        };

        hrm_left: hrm_left {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM_LEFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <350>;
            quick-tap-ms = <200>;
            hold-trigger-key-positions = <18 19 20 21 22 30 31 32 33 34 44 45 46 47 48 43 6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 43 44 45 46 47 48 49 54 55 56 57 52 51 50>;
            flavor = "hold-preferred";
            hold-trigger-on-release;
        };

        hrm_right: hrm_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM_RIGHT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <350>;
            quick-tap-ms = <200>;
            hold-trigger-key-positions = <13 14 15 16 17 25 26 27 28 29 37 38 39 40 41 42 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 55 56 57>;
            flavor = "balanced";
            hold-trigger-on-release;
        };

        dctrlv: dctrlv {
            compatible = "zmk,behavior-mod-morph";
            label = "DCTRLV";
            bindings = <&kp D>, <&kp V>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
            keep-mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        vctrlb: vctrlb {
            compatible = "zmk,behavior-mod-morph";
            label = "VCTRLB";
            bindings = <&kp V>, <&kp B>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
            keep-mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        bctrld: bctrld {
            compatible = "zmk,behavior-mod-morph";
            label = "BCTRLD";
            bindings = <&kp B>, <&kp D>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
            keep-mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        lt3esctog3: lt3esctog3 {
            compatible = "zmk,behavior-mod-morph";
            label = "LT3ESCTOG3";
            bindings = <&lt 3 ESCAPE>, <&tog 3>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL)>;
        };

        lt2tabtog2: lt2tabtog2 {
            compatible = "zmk,behavior-mod-morph";
            label = "LT2TABTOG2";
            bindings = <&lt 2 TAB>, <&tog 2>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL)>;
        };

        tog_on: tog_on {
            compatible = "zmk,behavior-toggle-layer";
            label = "TOG_ON";
            #binding-cells = <1>;
            toggle-mode = "on";
        };

        transtog: transtog {
            compatible = "zmk,behavior-hold-tap";
            label = "TRANSTOG";
            bindings = <&tog>, <&trans>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    macros {
        rospech: russopechato {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LEFT_ALT) &tog 1>;
            label = "RUSSOPECHATO";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        colemak {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            bindings = <
&kp GRAVE   &kp EXCL  &kp AT                &kp POUND               &kp DOLLAR         &kp PERCENT                                &kp CARET    &kp AMPERSAND       &kp ASTERISK              &kp LEFT_PARENTHESIS    &kp RIGHT_PARENTHESIS   &kp EQUAL
&kp ESCAPE  &kp Q     &kp W                 &lt 3 F                 &kp P              &bctrld                                    &kp J        &kp L               &http COLON U             &kp Y                   &kp SEMICOLON           &kp BACKSPACE
&kp LCTRL   &kp A     &hrm_left LEFT_ALT R  &hrm_left LEFT_SHIFT S  &hrm_left LCTRL T  &kp G                                      &kp M        &hrm_right LCTRL N  &hrm_right RIGHT_SHIFT E  &hrm_right RIGHT_ALT I  &hrm_right RIGHT_WIN O  &kp SQT
&kp LSHIFT  &kp Z     &kp X                 &kp C                   &dctrlv            &vctrlb      &kp PRINTSCREEN    &kp RCTRL  &kp K        &kp H               &kp COMMA                 &kp PERIOD              &kp FSLH                &http_slow RSHIFT BACKSLASH
                                            &kp LALT                &kp LEFT_WIN       &lt2tabtog2  &kp SPACE          &kp RET    &lt3esctog3  &lt 2 DELETE        &kp CAPS
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        qwerty {
            bindings = <
&trans  &trans  &trans            &trans                  &trans             &trans                    &trans  &trans              &trans                    &trans             &trans                          &trans
&trans  &trans  &trans            &kp E                   &kp R              &kp T                     &kp Y   &kp U               &kp I                     &kp O              &kp P                           &trans
&trans  &trans  &hrm_left LALT S  &hrm_left LEFT_SHIFT D  &hrm_left LCTRL F  &trans                    &kp H   &hrm_right RCTRL J  &hrm_right RIGHT_SHIFT K  &hrm_right RALT L  &hrm_right RIGHT_WIN SEMICOLON  &trans
&trans  &trans  &trans            &trans                  &kp V              &kp B   &trans    &trans  &kp N   &kp M               &trans                    &trans             &trans                          &trans
                                  &trans                  &trans             &trans  &trans    &trans  &trans  &trans              &trans
            >;
        };

        lower_layer {
            // --------------------------------------------------------------------------------------------------------------
            // | LPAD  | BRDn | BRUp |  MUT |  Vo- |  Vo+ |                   |      |       |       |      |       |       |
            // |  F1   |  F2  |  F3  |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !   |  @   |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |      |      |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                       |      |      |      |        |  |       |      |       |       |

            bindings = <
&kp F1    &kp F2        &kp F3                   &kp F4                     &kp F5                    &kp F6                           &kp F7  &kp F8               &kp F9                    &kp F10             &kp F11                 &kp F12
&tog 2    &tog_on 2     &trans                   &trans                     &trans                    &trans                           &trans  &kp LEFT_BRACKET     &kp RIGHT_BRACKET         &trans              &trans                  &trans
&rospech  &kp NUMBER_1  &hrm_left LALT NUMBER_2  &hrm_left LSHIFT NUMBER_3  &hrm_left LCTRL NUMBER_4  &kp N5                           &kp N6  &hrm_right LCTRL N7  &hrm_right LEFT_SHIFT N8  &hrm_right LALT N9  &hrm_right LEFT_WIN N0  &kp K_APP
&trans    &kp N6        &kp N7                   &kp N8                     &kp N9                    &kp N0         &trans    &trans  &trans  &kp MINUS            &kp EQUAL                 &trans              &trans                  &trans
                                                 &trans                     &trans                    &transtog 2 0  &trans    &trans  &trans  &trans               &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        raise_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&studio_unlock  &trans  &trans               &trans                      &trans               &trans                              &trans         &trans                 &trans                      &trans                 &trans     &trans
&tog 3          &trans  &trans               &kp PG_UP                   &trans               &trans                              &trans         &trans                 &kp UP_ARROW                &trans                 &tog_on 3  &trans
&trans          &trans  &hrm_left LALT HOME  &hrm_left LSHIFT PAGE_DOWN  &hrm_left LCTRL END  &trans                              &trans         &hrm_right LCTRL LEFT  &hrm_right LEFT_SHIFT DOWN  &hrm_right LALT RIGHT  &trans     &trans
&trans          &trans  &trans               &trans                      &trans               &trans  &out OUT_TOG    &bt BT_CLR  &trans         &trans                 &trans                      &trans                 &trans     &trans
                                             &trans                      &trans               &trans  &trans          &trans      &transtog 3 0  &bt BT_PRV             &bt BT_NXT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
