/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    combos {
        compatible = "zmk,combos";

        num {
            bindings = <&tog 3>;
            key-positions = <45 40>;
            require-prior-idle-ms = <200>;
        };

        space {
            bindings = <&space_base>;
            key-positions = <31 28>;
            slow-release;
            timeout-ms = <80>;
        };

        ru {
            bindings = <&rospech>;
            key-positions = <14 21>;
            layers = <0 1>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <26 33>;
        };

        ru_mac {
            bindings = <&rospech_mac>;
            key-positions = <24 35>;
        };

        caps {
            bindings = <&caps_word>;
            key-positions = <15 20>;
        };

        win {
            bindings = <&kp LEFT_GUI>;
            key-positions = <55 52>;
            timeout-ms = <100>;
            slow-release;
        };

        base {
            bindings = <&base>;
            key-positions = <27 32>;
        };
    };

    behaviors {
        http: http {
            compatible = "zmk,behavior-hold-tap";
            label = "HTTP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <170>;
            flavor = "tap-preferred";
            quick-tap-ms = <200>;
        };

        ltr: ltr {
            compatible = "zmk,behavior-hold-tap";
            label = "LTR";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-unless-interrupted";
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 43 55 56 57>;
            tapping-term-ms = <170>;
            quick-tap-ms = <200>;
        };

        htsl: htsl {
            compatible = "zmk,behavior-hold-tap";
            label = "HTSL";
            bindings = <&sl>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            quick-tap-ms = <200>;
        };

        htsk: htsk {
            compatible = "zmk,behavior-hold-tap";
            label = "HTSK";
            bindings = <&skqr>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            flavor = "tap-preferred";
        };

        hthp: hthp {
            compatible = "zmk,behavior-hold-tap";
            label = "HTHP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        tog_off: tog_off {
            compatible = "zmk,behavior-toggle-layer";
            label = "TOG_OFF";
            #binding-cells = <1>;
            toggle-mode = "off";
        };

        skqr: skqr {
            compatible = "zmk,behavior-sticky-key";
            label = "SKQR";
            bindings = <&kp>;
            #binding-cells = <1>;
            quick-release;
            lazy;
            ignore-modifiers;
            release-after-ms = <1500>;
        };
    };

    macros {
        rospech: russopechato {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LEFT_ALT) &tog 1>;
            label = "RUSSOPECHATO";
        };

        rospech_mac: rospech_mac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(SPACE) &tog 1>;
            label = "ROSPECH_MAC";
        };

        space_base: space_base {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_wait_time 0>, <&tog_off 4 &tog_off 3 &kp SPACE>;

            label = "SPACE_BASE";
        };

        base: base {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_wait_time 0>, <&tog_off 4 &tog_off 3>;

            label = "BASE";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        colemak {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            bindings = <
&kp GRAVE           &kp HOME   &kp PAGE_UP   &kp PAGE_DOWN       &kp END        &kp INSERT                                &kp K_APP  &kp LEFT_ARROW  &kp UP_ARROW         &kp DOWN      &kp RIGHT      &kp DEL
&kp TAB             &kp Q      &htsl 3 W     &kp F               &kp P          &kp B                                     &kp J      &kp L           &http COLON U        &htsl 3 Y     &kp SEMICOLON  &kp BACKSPACE
&hthp LCTRL ESCAPE  &htsl 4 A  &htsk LALT R  &htsk LEFT_SHIFT S  &htsk LCTRL T  &kp G                                     &kp M      &htsk LCTRL N   &htsk RIGHT_SHIFT E  &htsk LALT I  &htsl 4 O      &htsk LEFT_GUI SQT
&kp LSHIFT          &kp Z      &kp X         &kp C               &kp D          &kp V       &kp PRINTSCREEN    &kp MINUS  &kp K      &kp H           &kp COMMA            &kp PERIOD    &kp FSLH       &kp BACKSLASH
                                             &kp LEFT_ALT        &kp AT         &sl 3       &kp SPACE          &lt 5 RET  &sl 4      &trans          &tog 2
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        qwerty {
            bindings = <
&trans  &trans  &trans        &trans              &trans         &trans                    &trans  &trans         &trans               &trans            &trans             &trans
&trans  &trans  &trans        &kp E               &kp R          &kp T                     &kp Y   &kp U          &http COLON I        &htsl 3 O         &kp P              &trans
&trans  &trans  &htsk LALT S  &htsk LEFT_SHIFT D  &htsk LCTRL F  &trans                    &kp H   &htsk RCTRL J  &htsk RIGHT_SHIFT K  &htsk LEFT_ALT L  &htsl 4 SEMICOLON  &trans
&trans  &trans  &trans        &trans              &kp V          &kp B   &trans    &trans  &kp N   &kp M          &trans               &trans            &trans             &trans
                              &trans              &trans         &trans  &trans    &trans  &trans  &trans         &trans
            >;
        };

        game {
            bindings = <
&kp ESC    &kp N1  &kp N2  &kp N3  &kp N4  &kp N5                    &kp N6  &kp N7  &kp N8     &kp N9   &kp N0    &trans
&kp TAB    &kp Q   &kp W   &kp E   &kp R   &kp T                     &kp Y   &kp U   &kp I      &kp O    &kp P     &trans
&kp LSHFT  &kp A   &kp S   &kp D   &kp F   &kp G                     &kp H   &kp J   &kp K      &kp L    &kp SEMI  &trans
&kp LCTRL  &kp Z   &kp X   &kp C   &kp V   &kp B   &trans    &trans  &kp N   &kp M   &kp COMMA  &kp DOT  &kp FSLH  &trans
                           &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans
            >;
        };

        num {
            bindings = <
&trans  &trans            &trans  &trans  &trans     &trans                       &trans     &trans        &trans   &trans   &trans      &trans
&trans  &kp F1            &kp F2  &kp F3  &kp F4     &kp F5                       &kp F8     &kp F9        &kp F10  &kp F11  &kp F12     &trans
&trans  &htsl 4 NUMBER_1  &kp N2  &kp N3  &kp N4     &kp F6                       &kp F7     &kp N7        &kp N8   &kp N9   &htsl 4 N0  &trans
&trans  &trans            &trans  &trans  &kp N5     &trans     &trans    &trans  &trans     &kp NUMBER_6  &trans   &trans   &trans      &trans
                                  &trans  &kp LC(X)  &kp LC(V)  &trans    &trans  &kp LC(A)  &kp LC(C)     &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        sym {
            bindings = <
&trans  &kp C_BRI_DEC  &kp C_BRI_UP          &kp C_MUTE      &kp C_VOLUME_DOWN  &kp C_VOLUME_UP                    &trans    &out OUT_TOG       &bt BT_PRV       &bt BT_NXT             &bt BT_CLR  &trans
&trans  &trans         &kp LEFT_PARENTHESIS  &kp LEFT_BRACE  &kp LEFT_BRACKET   &kp CARET                          &trans    &kp RIGHT_BRACKET  &kp RIGHT_BRACE  &kp RIGHT_PARENTHESIS  &trans      &trans
&trans  &kp COLON      &kp AMPS              &kp SQT         &kp ASTERISK       &kp PERCENT                        &trans    &kp MINUS          &kp UNDER        &kp PLUS               &kp EQUAL   &trans
&trans  &trans         &trans                &kp AT          &kp DOLLAR         &kp POUND        &trans    &trans  &kp EXCL  &kp DOUBLE_QUOTES  &kp COMMA        &kp PERIOD             &trans      &trans
                                             &trans          &trans             &trans           &trans    &trans  &trans    &trans             &trans
            >;
        };

        f_layer {
            bindings = <
&kp F1      &kp F2      &kp F3                 &kp F4                   &kp F5              &kp F6                        &kp F7      &kp F8              &kp F9                   &kp F10                 &kp F11      &kp F12
&kp LA(F1)  &kp LA(F2)  &kp LA(F3)             &kp LA(F4)               &kp LA(F5)          &kp LA(F6)                    &kp LA(F7)  &kp LA(F8)          &kp LA(F9)               &kp LA(F10)             &kp LA(F11)  &kp LA(F12)
&kp LS(F1)  &kp LS(F2)  &htsk LEFT_ALT LS(F3)  &htsk LEFT_SHIFT LS(F4)  &htsk LCTRL LS(F5)  &kp LS(F6)                    &kp LS(F7)  &htsk LCTRL LS(F8)  &htsk LEFT_SHIFT LS(F9)  &htsk LEFT_ALT LS(F10)  &kp LS(F11)  &kp LS(F12)
&kp LC(F1)  &kp LC(F2)  &kp LC(F3)             &kp LC(F4)               &kp LC(F5)          &kp LC(F6)  &trans    &trans  &kp LC(F7)  &kp LC(F8)          &kp LC(F9)               &kp LC(F10)             &kp LC(F11)  &kp LC(F12)
                                               &trans                   &trans              &trans      &trans    &trans  &trans      &trans              &trans
            >;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
